.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 100px;

    .compose {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .composer {
            padding: 10px;
            width: 650px;
            border: 1px solid #343434;
            border-radius: 8px;
            background-color: transparent;
            color: #ededed;

            &:hover {
                box-shadow: 0px 0px 10px #282828;
                transition: all 0.3s ease-in-out;
            }

            &:focus {
                outline: 2px solid #707070;
                box-shadow: none;
            }
        }
    }



    .notes-list {
        margin-top: 10px;
        width: 655px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .list-header {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            color: #a0a0a0;
            font-size: 0.8rem;
            border-bottom: 1px solid #282828;
        }

        .list-items {
            margin-top: 10px;
            color: #ededed;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            width: 100%;
            padding: 10px;

            .item {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                .content {
                    width: 80%;

                    .composer {
                        padding: 10px;
                        width: 80%;
                        border: 1px solid #343434;
                        border-radius: 8px;
                        background-color: transparent;
                        color: #ededed;

                        &:hover {
                            box-shadow: 0px 0px 10px #282828;
                            transition: all 0.3s ease-in-out;
                        }

                        &:focus {
                            outline: 2px solid #707070;
                            box-shadow: none;
                        }
                    }
                }

                .btn {
                    display: flex;
                    gap: 10px;

                    button {
                        border: none;
                        padding: 10px 15px;
                        border-radius: 10px;
                        background-color: transparent;
                        color: #ededed;
                        box-shadow: 0px 0px 10px #282828;

                        &:hover {
                            box-shadow: 0px 0px 10px #707070;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}
