.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin: 0 10px;
    padding: 0 25px;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 20px;
    border-radius: 8px;
    // background-color: #161616;
    backdrop-filter: blur(10px);

    // &:hover {
    //     box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    //     transition: all 0.4s ease-in-out;
    // }

    .logo {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.87);
        font-size: 1.5rem;
        font-weight: bold;

        &:hover {
            text-shadow: 0px 0 10px rgba(255, 255, 255, 0.87);
            transition: all 0.3s ease-in-out;
        }
    }

    .user {
        border: 1px solid #727272c9;
        border-radius: 8px;
        padding: 10px 25px;
        font-size: 1rem;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.87);
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0 5px rgba(255, 255, 255, 0.87);
            text-shadow: 0px 0 10px rgba(255, 255, 255, 0.87);
            transition: all 0.3s ease-in-out;
        }
    }

}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        margin: 0;
    }
}
